.box_col {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.box_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.headline1 {
  margin-top: 50px;
  text-align: center;
}
.headline2 {
  text-align: center;
  font-size: 10px;
}

.background {
background-color: rgba(252, 214, 255, 0.295);
  background-attachment: fixed;
  border-radius: 25px;
  height:auto;
  width: 650px;
  border-color: black;
  border: 1px solid black;
}

.one {
margin-top: 25px;
text-align: center;
}
.two {
  margin-top: 10px;
}
.button1 {
  display: block;
  border: 1px solid #4d91f8;
  background: #4d91f8;
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 22px;
  padding: 10px 30px;
  border-radius: 30px;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  cursor: pointer;
}
.button1:hover {
  background: #0e60db50;
  border: 1px solid #0e60db50;
  color: #1a64d6;
}

.button2 {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #d4dbe4;
  background: #d4dbe4;
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 22px;
  padding: 5px 15px;
  border-radius: 30px;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  cursor: pointer;
}

.button2:hover {
  background: #03278ae5;
  border: 1px solid #03278ae5;
  color: #ffffff;
}
.three
{
  text-align: center;
margin-bottom: 5px;
margin-top: 5px;
}
.five,.six,.seven,.eight
{
  background: rgba(241, 150, 226, 0.363);
  border-radius: 25px;
  height: 70px;
  width: 200px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 22px;
  text-align: center;
}
.four{
  background: rgba(241, 150, 226, 0.363);
  border-radius: 25px;
  height: 75px;
  width: 300px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 20px;

  text-align: center;
  font-size: 20px;
}

.city_phrase
{
  font-size: 20px;
  
}

.lightgreyFont
{
  color:rgba(12, 12, 12, 0.39);
}
.curserPointer
{
  cursor: pointer;
}
.capitalize
{
  text-transform: capitalize;
}

.weatherIcon
{
  position: relative;
height: 75px;
width: 75px;
}